@import "tailwindcss";

/* Hide scrollbar globally */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

/* Chrome, Safari, Opera */
*::-webkit-scrollbar {
  display: none;
}
